<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>自动化测试+ - 接口信息</title>

    <meta name="keywords" content="">
    <meta name="description" content="">

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->

    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <link href="../static/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="../static/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="../static/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="../static/js/plugins/select2/css/select2.css" rel="stylesheet"/>
    <link href="../static/css/animate.min.css" rel="stylesheet">
    <link href="../static/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>

<body class="gray-bg">
<div id="app">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>API接口</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/" target="_top">主页</a>
                </li>
                <li>
                    <a href="interface-list">接口列表</a>
                </li>
                <li>
                    <strong>接口信息</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>接口信息</h5>
                </div>
                <div class="ibox-content">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation"><a href="#tabDoc" aria-controls="tabDoc" role="tab"
                                                   data-toggle="tab"><i class="fa fa-file-text"></i> 文档</a>
                        </li>
                        <li role="presentation" class="active"><a href="#tabTest" aria-controls="tabTest" role="tab"
                                                                  data-toggle="tab"><i class="fa fa-rocket"></i> 测试</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content m-t">
                        <div role="tabpanel" class="tab-pane" id="tabDoc">


                            <table width="100%" class="table table-striped table-hover">
                                <tbody>
                                <tr>
                                    <td width="16%"><strong>接口描述</strong></td>
                                    <td width="84%">[[ inface.title ]]</td>
                                </tr>
                                <tr>
                                    <td><strong>请求方法</strong></td>
                                    <td>[[ inface.method ]]</td>
                                </tr>
                                <tr>
                                    <td><strong>协议</strong></td>
                                    <td>[[ inface.protocol ]]</td>
                                </tr>
                                <tr>
                                    <td><strong>URI</strong></td>
                                    <td>[[ inface.uri ]]</td>
                                </tr>
                                <tr>
                                    <td><strong>请求头部</strong></td>
                                    <td>
                                        <table class="table table-striped table-bordered" width="100%" border="0"
                                               cellspacing="0" cellpadding="0">
                                            <tr>
                                                <th width="45%" scope="col">KEY</th>
                                                <th width="55%" scope="col">VALUE</th>
                                            </tr>
                                            <tr v-for="header in inface.headers">
                                                <td>[[ header[0] ]]</td>
                                                <td>[[ header[1] ]]</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>请求参数【表单form-data】</strong></td>
                                    <td>
                                        <table class="table table-striped table-bordered" width="100%" border="0"
                                               cellspacing="0" cellpadding="0">
                                            <tr>
                                                <th width="45%" scope="col">KEY</th>
                                                <th width="55%" scope="col">VALUE</th>
                                            </tr>
                                            <tr v-for="form in inface.form_data">
                                                <td>[[ form[0] ]]</td>
                                                <td>[[ form[1] ]]</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>参数</strong></td>
                                    <td>
                                        <table class="table table-striped table-bordered" width="100%" border="0"
                                               cellspacing="0" cellpadding="0">
                                            <tr>
                                                <th width="45%" scope="col">KEY</th>
                                                <th width="55%" scope="col">VALUE</th>
                                            </tr>
                                            <tr v-for="rest in inface.restful">
                                                <td>[[ rest[0] ]]</td>
                                                <td>[[ rest[1] ]]</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>文本</strong></td>
                                    <td>[[ inface.raw ]]</td>
                                </tr>
                                <tr>
                                    <td><strong>返回值【正常】</strong></td>
                                    <td>[[ inface.return_normal ]]</td>
                                </tr>
                                <tr>
                                    <td><strong>返回值【异常】</strong></td>
                                    <td>[[ inface.return_abnormal ]]</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="tabTest">
                            <form class="form-horizontal m-t" id="addInterface">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">主机(IP)</label>

                                    <div class="col-sm-10">
                                        <input id="hostname" name="hostname" type="text" class="form-control"
                                               v-model="inface.hostname">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">URI</label>

                                    <div class="col-sm-10">
                                        <input id="uri" name="uri" disabled="disabled" type="text" class="form-control"
                                               v-model="inface.uri">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">请求方法</label>

                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label>
                                                <input type="radio" value="POST" name="method" disabled
                                                       v-model="inface.method"> <i></i> POST</label>
                                        </div>
                                        <div class="radio i-checks">
                                            <label>
                                                <input type="radio" value="GET" name="method" disabled
                                                       v-model="inface.method">
                                                <i></i>
                                                GET</label>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 control-label">协议</label>

                                    <div class="col-sm-2">
                                        <div class="radio i-checks">
                                            <label>
                                                <input type="radio" value="HTTP" name="protocol"
                                                       v-model="inface.protocol"> <i></i>
                                                HTTP</label>
                                        </div>
                                        <div class="radio i-checks">
                                            <label>
                                                <input type="radio" value="HTTPS" name="protocol"
                                                       v-model="inface.protocol"> <i></i> HTTPS</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">接口描述</label>

                                    <div class="col-sm-10">
                                        <input id="name" name="name" type="text" class="form-control" disabled
                                               v-model="inface.title">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">请求头部(Headers)</label>

                                    <div class="col-sm-7">
                                        <table class="table" width="100%%" border="0" cellspacing="0"
                                               cellpadding="0">
                                            <tr>
                                                <th width="45%" scope="col">KEY</th>
                                                <th width="55%" scope="col">VALUE</th>
                                            </tr>
                                            <tr class="form-inline" v-for="header in inface.headers">
                                                <td>[[ header[0] ]]</td>
                                                <td>[[ header[1] ]]</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">请求内容(Body)</label>

                                    <div class="col-sm-9">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#tabRESTful"
                                                                                      aria-controls="tabRESTful"
                                                                                      role="tab"
                                                                                      data-toggle="tab">参数</a></li>
                                            <li role="presentation"><a href="#tabRaw" aria-controls="tabRaw" role="tab"
                                                                       data-toggle="tab">文本</a></li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content m-t">
                                            <div role="tabpanel" class="tab-pane active" id="tabRESTful">

                                                <table class="table" width="100%%" border="0" cellspacing="0"
                                                       cellpadding="0">
                                                    <tr>
                                                        <th width="39%" scope="col">KEY</th>
                                                        <th width="40%" scope="col">VALUE</th>
                                                        <th width="21%" scope="col">
                                                            操作
                                                        </th>
                                                    </tr>
                                                    <tr class="form-inline" v-for="(rest, index) in inface.restful">
                                                        <td>[[ rest[0] ]]</td>
                                                        <td>[[ rest[1] ]]</td>
                                                        <td>
                                                            <button type="button" class="btn btn-info btn-xs"
                                                                    data-toggle="modal" data-target="#constructor"
                                                                    @click="syncConstructor(index, rest[2], rest[0])">
                                                                构造器
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="tabRaw"><textarea
                                                    class="form-control"
                                                    rows="3" v-model="inface.raw"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button class="btn btn-primary" type="submit">发送测试 <i
                                                class="fa fa-paper-plane"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>测试结果</h5>
                </div>
                <div class="ibox-content">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tabResult" aria-controls="tabResult" role="tab"
                               data-toggle="tab"><i class="fa fa-terminal"></i> 返回结果</a>
                        </li>
                        <li role="presentation">
                            <a href="#tabResultHeaders" aria-controls="tabResultHeaders" role="tab"
                               data-toggle="tab"><i class="fa fa-train"></i> 请求头部</a></li>
                        <li role="presentation">
                            <a href="#tabResultBody" aria-controls="tabResultBody" role="tab"
                               data-toggle="tab"><i class="fa fa-pencil-square-o"></i> 请求内容</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tabResult"><textarea
                                class="form-control"
                                rows="36"></textarea>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tabResultHeaders">
                                            <textarea class="form-control"
                                                      rows="36"></textarea>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tabResultBody"><textarea
                                class="form-control"
                                rows="36"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <br>
                            <span class="label label-primary">执行状态：</span>
                            <span class="label label-info">执行时间：</span>
                            <span class="label label-success">返回类型：</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--构造器弹窗-->
    <div class="modal" id="constructor" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">关闭</span>
                    </button>

                    <h4 class="modal-title"><i class="fa fa-laptop modal-icon"></i> 构造器</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal m-t" id="constructorForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">赋值方法</label>

                            <div class="col-sm-9">

                                <select class="form-control" name="assign" id="assign" v-model="constr.assign_type">
                                    <option value="" aria-controls="">== 请选择 ==</option>
                                    <option value="upload" aria-controls="assignUpload">上行数据</option>
                                    <option value="database" aria-controls="assignDatabase">数据库数据</option>
                                    <option value="normal" aria-controls="assignNormal">常用数据</option>
                                </select>
                                <input type="hidden" v-model="constr.arr_index">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div id="assignUpload" class="tab-assign" :class="{ hidden: constr.assign_type !== 'upload'}">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">上行执行ID</label>

                                <div class="col-sm-9">
                                    <input class="form-control" type="text" v-model="constr.upload_id">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">要赋值字段</label>

                                <div class="col-sm-9">
                                    <input class="form-control" type="text" v-model="constr.field">
                                </div>
                            </div>
                        </div>
                        <div id="assignDatabase" class="tab-assign"
                             :class="{ hidden: constr.assign_type !== 'database'}">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">数据库字段</label>

                                <div class="col-sm-9">
                                    <input name="constr.database_field" class="form-control" type="text"
                                           v-model="constr.database_field">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">SQL语句</label>

                                <div class="col-sm-9">
                                    <input class="form-control" type="text" v-model="constr.sql">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">数据库类型</label>

                                <div class="col-sm-9">
                                    <select class="form-control" name="" v-model="constr.database_type">
                                        <option value="mysql">MySQL</option>
                                        <option value="mssql">SQL Server</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">选择数据库配置</label>

                                <div class="col-sm-9">
                                    <select class="form-control" name="database" id="database"
                                            v-model="constr.database">
                                        <option v-for="(db, index) in database" :value="db.id">[[ db.ven_name ]]
                                        </option>
                                        <option value="">+ 添加新数据库配置</option>
                                    </select>
                                </div>
                            </div>
                            <div id="fillDatabase" :class="{ hidden: constr.database !== '' }">
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">配置描述</label>

                                    <div class="col-sm-9">
                                        <input name="new_database.title" class="form-control" type="text"
                                               v-model="new_database.title" v-validate="'required'">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">数据库类型</label>

                                    <div class="col-sm-9">
                                        <select class="form-control" v-model="new_database.type">
                                            <option value="mysql">MySQL</option>
                                            <option value="mssql">SQL Server</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">数据库地址</label>

                                    <div class="col-sm-9"
                                         :class="{ 'col-sm-7': new_database.type === 'mysql' }">
                                        <input class="form-control" type="text" v-model="new_database.url">
                                    </div>
                                    <div class="col-sm-2" v-show="new_database.type === 'mysql'">
                                        <input class="form-control" placeholder="端口" type="text"
                                               v-model="new_database.port">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">数据库名</label>

                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" v-model="new_database.name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">身份</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" v-model="new_database.user"
                                               placeholder="用户名">
                                    </div>
                                    <div class="col-sm-5">
                                        <input class="form-control" type="password" v-model="new_database.pwd"
                                               placeholder="密码">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-3">
                                        <button class="btn btn-primary" type="button" @click="addNewDatabase()">添加新数据库
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="assignNormal" class="tab-assign" :class="{ hidden: constr.assign_type !== 'normal'}">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">常量编号</label>

                                <div class="col-sm-9">
                                    <select class="form-control" v-model="constr.const_no">
                                        <option value="mobile">随机手机号</option>
                                        <option value="id_card">身份证号</option>
                                        <option value="uu_id">UUID</option>
                                        <option value="bank_card">工行卡号</option>
                                        <option value="int">int类型数字</option>
                                        <option value="chinese_name">中文名字</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" @click="saveConstructor">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../static/js/jquery.min.js?v=2.1.4"></script>
<script src="../static/js/bootstrap.min.js?v=3.3.6"></script>
<script src="../static/js/plugins/toastr/toastr.min.js"></script>
<script src="../static/js/vue.js"></script>
<script src="../static/js/vee-validate.js"></script>
<script src="../static/js/axios.min.js"></script>
<script src="../static/js/main.js?v1"></script>
<script>
  Vue.use(VeeValidate)

  var app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
      inface: {},
      database: [],
      new_database: {},
      constr: {},
      submit_status: {}
    },
    beforeCreate: function () {
      var app = this

      /**
       * 获取API接口
       */
      axios.post('http://10.100.99.7:5585/data/getdetail', {
        api_id: getUrlParam('id')
      })
        .then(function (res) {
          app.inface = res.data
        })
        .catch(function (error) {
          toastr.error(error)
        })

      app.$options.methods.loadDatabaseConfig()
    },
    methods: {
      /**
       * 同步选择的构造器到constructor临时数据中
       * @param index 点击时的数组index
       * @param obj 构造器的对象
       * @param key 构造器的key
       */
      syncConstructor: function (index, obj, key) {
        this.constr = {}
        obj && (this.constr = obj)
        this.$set(this.constr, 'arr_index', index)
        this.$set(this.constr, 'key', key)
      },
      /**
       * 获取数据库配置列表
       */
      loadDatabaseConfig: function () {
        axios.get('http://10.100.99.7:5585/env/get')
          .then(function (res) {
            app.database = res.data.database
          })
          .catch(function (error) {
            toastr.error(error)
          })
      },
      /**
       * 添加新数据库配置
       */
      addNewDatabase: function () {
        var app = this

        axios.post('http://10.100.99.7:5585/env/insert', {
          title: app.new_database.title,
          type: app.new_database.type,
          url: app.new_database.url,
          port: app.new_database.port || '',
          name: app.new_database.name,
          user: app.new_database.user,
          pwd: app.new_database.pwd
        })
          .then(function (res) {
            if (res.data) {
              // 默认选择添加的数据库配置
              app.constr.database = res.data
              toastr.success('添加数据库成功')
              app.$options.methods.loadDatabaseConfig()
              app.new_database = {}
            } else {
              toastr.error('添加数据库失败')
            }
          })
          .catch(function (error) {
            toastr.error(error)
          })
      },
      /**
       * 保存构造器
       */
      saveConstructor: function () {
        var app = this
        var obj = {}

        switch (app.constr.assign_type) {
          case 'upload':
            obj = {
              api_id: app.inface.api_id,
              index: app.constr.arr_index,
              params: {
                assign_type: app.constr.assign_type,
                upload_id: app.constr.upload_id,
                field: app.constr.field
              }
            }
            break
          case 'database':
            obj = {
              api_id: app.inface.api_id,
              index: app.constr.arr_index,
              params: {
                assign_type: app.constr.assign_type,
                database_field: app.constr.database_field,
                sql: app.constr.sql,
                database_type: app.constr.database_type,
                database: app.constr.database
              }
            }
            break
          case 'normal':
            obj = {
              api_id: app.inface.api_id,
              index: app.constr.arr_index,
              params: {
                assign_type: app.constr.assign_type,
                const_no: app.constr.const_no
              }
            }
            break
        }

        axios.post('http://10.100.99.7:5585/param/insert', JSON.stringify(obj))
          .then(function (res) {
            if (res.data) {
              toastr.success('保存构造器成功')
            } else {
              toastr.error('保存构造器失败')
            }
          })
          .catch(function (error) {
            toastr.error(error)
          })
      }
    }
  })

</script>
</body>
</html>
