<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>自动化测试+ - 接口信息</title>

    <meta name="keywords" content="">
    <meta name="description" content="">

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->

    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <link href="../static/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="../static/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="../static/css/plugins/json-viewer/jquery.json-viewer.css" rel="stylesheet">
    <link href="../static/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="../static/css/animate.min.css" rel="stylesheet">
    <link href="../static/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <style>
        .ui-sortable{
            min-height:500px;
            border:2px dashed #EEE;
        }
    </style>
</head>

<body class="gray-bg">
<div id="app">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>编辑任务</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/" target="_top">主页</a>
                </li>
                <li>
                    <a href="task-list">任务列表</a>
                </li>
                <li>
                    <strong>编辑任务</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>任务配置清单</h5>
                    <div class="ibox-tools">
                        <a href="task-list" class="btn btn-primary btn-xs"><i class="fa fa-chevron-left"></i> 返回列表</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="addTask" @submit.prevent="validateBeforeSubmit">
                        <div class="form-group" :class="{ 'has-error': errors.has('title') }">
                            <div class="col-sm-12">
                                <input id="title" name="title" type="text" class="form-control" placeholder="任务描述"
                                       v-model="task.title"
                                       v-validate="'required'">
                                <span v-show="errors.has('title')" class="help-block m-b-none">请输入任务描述</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <draggable v-model="task.task_flow" class="todo-list m-t ui-sortable" :element="'ul'"
                                   :options="{group: 'task'}">
                            <li v-for="(item, index) in task.task_flow">
                                <div class="pull-right">
                                    <button class="btn btn-info btn-xs" type="button" data-toggle="modal"
                                            data-target="#constructor" @click="taskInterfaceModal(item.api_id, index)">
                                        入参配置
                                    </button>
                                </div>
                                <span class="m-l-xs">[[item.title]]</span>
                            </li>
                        </draggable>
                        <div class="row p-m">
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存内容</button>
                                <a href="task-list" class="btn btn-white"><i class="fa fa-reply"></i> 返回列表</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>接口列表</h5>
                </div>
                <div class="ibox-content">
                    <draggable v-model="interfaces" class="todo-list m-t ui-sortable" :element="'ul'"
                               :options="{group: 'task'}">
                        <li v-for="(inface, index) in interfaces">
                            <span class="m-l-xs">[[inface.title]]</span>
                        </li>

                    </draggable>
                </div>
            </div>
        </div>
    </div>

    <!--入参配置弹窗-->
    <div class="modal" id="constructor" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">关闭</span>
                    </button>

                    <h4 class="modal-title"><i class="fa fa-laptop modal-icon"></i> 入参配置</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12" :class="{ 'col-sm-7': control.constructor_open }">
                            <table class="table" width="100%" border="0" cellspacing="0"
                                   cellpadding="0">
                                <thead>
                                <tr>
                                    <th width="39%" scope="col">KEY</th>
                                    <th width="40%" scope="col">VALUE</th>
                                    <th width="21%" scope="col">
                                        操作
                                    </th>
                                </tr>
                                </thead>
                                <tbody v-if="task_index !== null">
                                <tr class="form-inline" v-for="(rest, index) in task.task_flow[task_index].restful">
                                    <td>[[ rest[0] ]]</td>
                                    <td>[[ rest[1] ]]</td>
                                    <td>
                                        <button type="button" class="btn btn-info btn-xs"
                                                :class="{ 'btn-warning': !rest[2]}"
                                                @click="syncConstructor(index, rest[2])">
                                            入参
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div v-if="task_index !== null">
                                <pre id="raw">[[ task.task_flow[task_index].raw ]]</pre>
                            </div>

                        </div>
                        <div class="col-sm-5 animated fadeInLeft" v-show="control.constructor_open">
                            <form class="form-horizontal m-t" id="constructorForm">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">赋值方法</label>

                                    <div class="col-sm-8">

                                        <select class="form-control" name="assign" id="assign"
                                                v-model="constr.assign_type">
                                            <option value="" aria-controls="">== 请选择 ==</option>
                                            <option value="upload" aria-controls="assignUpload">上行数据</option>
                                            <option value="database" aria-controls="assignDatabase">数据库数据</option>
                                            <option value="normal" aria-controls="assignNormal">常用数据</option>
                                        </select>
                                        <input type="hidden" v-model="constr.arr_index">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div id="assignUpload" class="tab-assign"
                                     :class="{ hidden: constr.assign_type !== 'upload'}">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">上行执行ID</label>

                                        <div class="col-sm-8">
                                            <input placeholder="上行执行ID" class="form-control" type="text"
                                                   v-model="constr.upload_id">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">要赋值字段</label>

                                        <div class="col-sm-8">
                                            <input placeholder="要赋值字段" class="form-control" type="text"
                                                   v-model="constr.field">
                                        </div>
                                    </div>
                                </div>
                                <div id="assignDatabase" class="tab-assign"
                                     :class="{ hidden: constr.assign_type !== 'database'}">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">数据库字段</label>

                                        <div class="col-sm-8">
                                            <input placeholder="数据库字段" name="constr.database_field" class="form-control"
                                                   type="text"
                                                   v-model="constr.database_field">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">SQL语句</label>

                                        <div class="col-sm-8">
                                            <input placeholder="SQL语句" class="form-control" type="text"
                                                   v-model="constr.sql">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">数据库类型</label>

                                        <div class="col-sm-8">
                                            <select class="form-control" name="" v-model="constr.database_type">
                                                <option value="mysql">MySQL</option>
                                                <option value="mssql">SQL Server</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">选择数据库配置</label>

                                        <div class="col-sm-8">
                                            <select class="form-control" name="database" id="database"
                                                    v-model="constr.database">
                                                <option v-for="(db, index) in database" :value="db.id">[[ db.ven_name ]]
                                                </option>
                                                <option value="">+ 添加新数据库配置</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div id="fillDatabase" :class="{ hidden: constr.database !== '' }">
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">配置描述</label>

                                            <div class="col-sm-8">
                                                <input placeholder="配置描述" name="new_database.title" class="form-control"
                                                       type="text"
                                                       v-model="new_database.title">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">数据库类型</label>

                                            <div class="col-sm-8">
                                                <select class="form-control" v-model="new_database.type">
                                                    <option value="mysql">MySQL</option>
                                                    <option value="mssql">SQL Server</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">数据库地址</label>

                                            <div class="col-sm-8">
                                                <input placeholder="数据库地址" class="form-control" type="text"
                                                       v-model="new_database.url">
                                            </div>
                                        </div>
                                        <div class="form-group" v-show="new_database.type === 'mysql'">
                                            <label class="col-sm-4 control-label">端口</label>

                                            <div class="col-sm-8">
                                                <input class="form-control" placeholder="端口" type="text"
                                                       v-model="new_database.port">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">数据库名</label>

                                            <div class="col-sm-8">
                                                <input placeholder="数据库名" class="form-control" type="text"
                                                       v-model="new_database.name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">身份</label>
                                            <div class="col-sm-4">
                                                <input class="form-control" type="text" v-model="new_database.user"
                                                       placeholder="用户名">
                                            </div>
                                            <div class="col-sm-4">
                                                <input class="form-control" type="password" v-model="new_database.pwd"
                                                       placeholder="密码">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-4">
                                                <button class="btn btn-primary" type="button" @click="addNewDatabase()">
                                                    添加新数据库
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="assignNormal" class="tab-assign"
                                     :class="{ hidden: constr.assign_type !== 'normal'}">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">常量编号</label>

                                        <div class="col-sm-8">
                                            <select class="form-control" v-model="constr.const_no">
                                                <option value="1">随机手机号</option>
                                                <option value="2">身份证号</option>
                                                <option value="3">UUID</option>
                                                <option value="4">工行卡号</option>
                                                <option value="5">int类型数字</option>
                                                <option value="6">中文名字</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" @click="addConstructor">添加入参</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../static/js/jquery.min.js?v=2.1.4"></script>
<script src="../static/js/bootstrap.min.js?v=3.3.6"></script>
<script src="../static/js/plugins/toastr/toastr.min.js"></script>
<script src="../static/js/vue.js"></script>
<script src="../static/js/vee-validate.js"></script>
<script src="../static/js/axios.min.js"></script>
<script src="../static/js/plugins/json-viewer/jquery.json-viewer.js"></script>
<script src="../static/js/Sortable.min.js"></script>
<script src="../static/js/vuedraggable.min.js"></script>
<script src="../static/js/main.js?v1"></script>
<script>
  Vue.use(VeeValidate)

  var app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
      task: {},
      task_index: null,
      interfaces: [],
      database: [],
      new_database: {},

      // 入参配置临时变量
      constr: {},
      // 返回值配置临时变量
      case_return: {},
      control: {
        // 是否打开入参配置表单
        constructor_open: false
      },
      pages_control: {}
    },
    beforeCreate: function () {
      var app = this

      /**
       * 获取TASK信息
       */
      axios.post(GLOBAL.IP + '/task/getdata', {
        task_id: getUrlParam('id')
      })
        .then(function (res) {
          if (res.data.code === 200) {
            app.task = res.data.data
          } else {
            toastr.error(res.data.message)
          }
        })
        .catch(function (error) {
          toastr.error(error)
        })

      app.$options.methods.getInterfaces()
      app.$options.methods.loadDatabaseConfig()
    },
    methods: {
      getInterfaces: function (group_id, page) {
        var obj = {}
        group_id ? obj.group_id = group_id : obj.group_id = 0
        page ? obj.page = page : obj.page = 1

        /**
         * 获取接口列表
         */
        axios.post(GLOBAL.IP + '/data/getdata', JSON.stringify(obj))
          .then(function (res) {
            app.interfaces = res.data.tb_data
            app.pages_control = {
              group_id: res.data.group_id,
              pages: res.data.pages,
              page: res.data.page
            }
          })
          .catch(function (error) {
            toastr.error(error)
          })
      },
      /**
       * 打开入参配置弹窗
       * 把要配置入参的接口index存入task_index，以便Modal按需显示
       * @param api_id
       * @param index
       */
      taskInterfaceModal: function (api_id, index) {
        var app = this
        app.task_index = index
        app.control.constructor_open = false
        app.$options.methods.displayJsonViewer('#raw', app.task.task_flow[index].raw)

        // 如果此任务流中的接口没有参数(restful)，则从服务端获取
        if (!app.task.task_flow[index].restful) {
          /**
           * 获取API接口参数
           */
          axios.post(GLOBAL.IP + '/data/getparams', {
            api_id: api_id
          })
            .then(function (res) {
              if (res.data.code === 200) {
                app.$set(app.task.task_flow[index], 'restful', res.data.data.restful)

                app.$options.methods.displayJsonViewer('#raw', res.data.data.raw)
              } else {
                toastr.error(res.data.message)
              }
            })
            .catch(function (error) {
              toastr.error(error)
            })
        }

      },
      /**
       * 同步选择的入参到constructor临时数据中
       * @param index 点击某入参时的数组index
       * @param obj 入参的对象
       */
      syncConstructor: function (index, obj) {
        var app = this
        app.control.constructor_open = true

        // 任务流中具体接口的具体某个参数
        // app.task.task_flow[app.task_index].restful[index]
        app.constr = {}
        this.$set(this.constr, 'arr_index', index)
        var params = app.task.task_flow[app.task_index].restful[index][2]

        if (params) {
          app.constr = params
        }
      },
      /**
       * 添加入参
       */
      addConstructor: function () {
        var app = this
        var obj = {}

        switch (app.constr.assign_type) {
          case 'upload':
            obj = {
              assign_type: app.constr.assign_type,
              upload_id: app.constr.upload_id,
              field: app.constr.field
            }
            break
          case 'database':
            obj = {
              assign_type: app.constr.assign_type,
              database_field: app.constr.database_field,
              sql: app.constr.sql,
              database_type: app.constr.database_type,
              database: app.constr.database
            }
            break
          case 'normal':
            obj = {
              assign_type: app.constr.assign_type,
              const_no: app.constr.const_no
            }
            break
        }

        app.task.task_flow[app.task_index].restful[app.constr.arr_index][2] = app.constr
        app.$forceUpdate()
        toastr.success('添加入参成功')
        app.control.constructor_open = false
      },
      /**
       * 获取数据库配置列表
       */
      loadDatabaseConfig: function () {
        axios.get(GLOBAL.IP + '/env/get')
          .then(function (res) {
            app.database = res.data.database
          })
          .catch(function (error) {
            toastr.error(error)
          })
      },
      /**
       * 用JsonViewer显示Json值
       * @param el 选择器字符串
       * @param val 值
       */
      displayJsonViewer: function (el, val) {
        var $el = $(el)

        $el.text(val)

        try {
          JSON.parse(val)
          $el.jsonViewer(JSON.parse(val))
        } catch (err) {
        }
      },
      validateBeforeSubmit: function () {
        var app = this

        this.$validator.validateAll().then(function (result) {
          if (result) {
            axios.post(GLOBAL.IP + '/task/savetask', app.task)
              .then(function (res) {
                if (res.data.code === 200) {
                  toastr.success('保存任务成功')
                  setTimeout(function () {
                      window.location = './task-list'
                    }, 1000)
                } else if (res.data.code === 202) {
                  toastr.error('保存任务失败，请为已经拖入任务列表的用例设置入参配置！')
                } else {
                  toastr.error('保存任务失败')
                }
              })
              .catch(function (error) {
                toastr.error(error)
              })
          } else {

          }
        })
      }
    }
  })

</script>
</body>
</html>
